{% extends "auctions/layout.html" %}
{% block body %}
    Results of "{{ category }}" category.
    {% for listing in listings%}
        <a href="{% url 'view_listing' listing.id %}">
            <div class="listing">
                <div>
                    <img class="listing-image" src= {{listing.image.url}} alt="Product image">
                </div>
                <div class="listing-text">
                    <strong>{{listing.title}}</strong>
                    <br><strong>Price: $</strong>{{listing.cost}}
                    <br>Created at: {{listing.time_created}}
                </div>    
            </div>
    {%endfor%}
{% endblock %}