{% extends "auctions/layout.html" %}

{% block body %}
    <table>
        <tr>
          <th>
            {% if message%}
                {{ message }}
                <br>You could take a look at all the
                <a href="{% url 'index' %}">Active Listings</a>.
            {% endif %}
          </th>
          <th>
            {% if  winner %}
                <div class="view-listing">
                    <h6>The winner of this bidding is <h5 style="margin-left:5px;">"{{winner}}"</h5></h6>
                </div>
            {% endif %}
          </th> 
        </tr>

        <tr>
          <td><h3 style="padding-left: 15%;">Listing:{{ listing.title }}</h3></td>
        </tr>

        <tr>
            <td style="line-height: 2px;">
            {% if in_watchlist %}
            <a href="{% url 'remove_from_watchlist' listing.id %}" style="padding-left: 15%;">Remove from watchlist</a>
            {% else %}
                <a href="{% url 'add_to_watchlist' listing.id %}" style="padding-left: 15%;">Watchlist</a>
            {% endif %}
            </td>
            <td>
                <h3>Description</h3>
            </td>
        </tr>
        
        <tr>
            <td>
                <img class="view-listing-image" src={{listing.image.url}} alt="Product Image">
            </td>
            <td>
                {{ listing.description | linebreaks }}
                <br><br> Category:
                <a href="{% url 'select_category_get' listing.category.id %}">{{ listing.category.title }}</a>
                <br><br>Listed by {{ listing.user }}<br><br>  
                <div>
                    Current bid:<h4 style="display:inline;margin-left: 10px;">${{ listing.cost }}</h4>              
                </div>
                <br>
                <div>
                    <form action="{% url 'place_bid' listing.id %}"  method="post">
                        {% csrf_token %} 
                        <input type="number" name="cost" min="{{ listing.cost }}" step="0.1" placeholder="${{ listing.cost }}">
                        <input type="submit" class="submit-bid" value="Place Bid" >
                    </form>
                    <br>
                    {% if created_by_user %}
                        <form action="{% url 'close_bid' listing.id %}"  method="post">
                            {% csrf_token %}
                            <input type="submit" id="close-bid" value="Close Bidding">
                        </form>
                    {% endif %}
                </div>
            </td>
        </tr>

        <tr>
            <td style="padding-top: 5%;">
                <div style="padding-left:10%;">
                    <form action="{% url 'comment' listing.id%}" id="comment" method="post">
                        {% csrf_token %}
                        <div>
                            <textarea form="comment" name="content" class="comment-textarea" max-length=280 placeholder="Add a comment"></textarea>
                        </div>
                        <div>
                            <input type="submit" style="margin-left:10px;" value="Comment">
                        </div>
                    </form>
                </div>
            </td> 
        </tr>

        <tr>
            <td>
                <br>
                <h3>Comments</h3>
                <div style="padding-left:10%;">
                    {% if comments %}
                        {% for comment in comments %}
                            <div class="comment">
                                <strong>{{ comment.user }}</strong>
                                <div style="padding-left:10%;">
                                    {{ comment.content | linebreaks }}
                                </div>
                                
                                <br>
                            </div>  
                        {% endfor %}
                    {% endif %} 
                </div>
            </td>
        </tr>
    </table> 
{% endblock %}