
{% extends "auctions/layout.html" %}

{% block body %}
        {% for listing in watchlist_listings %}
            <a href="{% url 'view_listing' listing.id %}">
            <div class="listing">
                <div>
                    <img class="listing-image" src= {{listing.image.url}} alt= "Product Image">
                </div>
                <div class="listing-text">
                    <strong>{{listing.title}}</strong>
                    <br><strong>Price: $</strong>{{listing.cost}}
                    <br>Created at: {{listing.time_created}}
                </div>    
            </div>
        {% empty %}
            There are no auctions in your Watchlist.
        {% endfor %}

{% endblock %}